<div class="main-content">
  <div class="sidebar">
    <img src="<%=@ad.image.url.to_s%>">
  </div>
  <div class="main-view">
    <div class="main-view__details">
      <h1>Description: <%=@ad.description %></h1>
      <p>Price: <%=@ad.price%></p>
      <p>Quantity: <%=@ad.quantity%></p>
      <p>Location: <%=@ad.location%></p>
      <p>Condition: <%=@ad.condition.condition_name%></p>
      <p>Category: <%=@ad.category.category_name%></p>
      <p>Seller: <%=@ad.user.email%></p>
      <% if !adOwner(@ad.user) %>
        <a class="form_button" href="/message/<%=@ad.id%>">Send a message to Seller</a>
      <% end %>
    </div>
  </div>
</div>
<% if adOwner(@ad.user) && @ad.messages.count > 0 %>
  <div class="main-view__messages">
    <% @ad.messages.each do |message| %>
      <p class="main-view__messages-header"><%=message.sender_name%> - <%=message.email%></p>
      <p><%=message.telephone_number %></p>
      <p><%=message.text%></p>
      <div class="action_button_panel">
        <div class="action_button_panel__inner">
          <form action="/message/<%=message.id%>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="ad_id" value="<%=@ad.id%>">
            <button type="submit" class="action_button">Delete</button>
          </form>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
