<div class="main_content">
  <% if !collection.empty? %>
    <% collection.each do |item| %>
      <div class="ad_content">
        <div>
          <img class="ad_image" src=<%=displayAdsImage(item)%>>
        </div>
        <p><a href="/ad/<%=item.id%>"><%=item.description%></a></p>
        <% if adOwner?(item.user) %>
        <div class="action_button_panel">
          <div class="action_button_panel__inner">
            <form action="/ads/<%=item.id%>" method="post">
              <input type="hidden" name="_method" value="delete">
              <button type="submit" class="action_button">Delete</button>
            </form>
          </div>
          <div class="action_button_panel__inner">
            <a href="/ad/<%=item.id%>/edit">Edit</a>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  <% else %>
    <h1>No Matches Found</h1>
  <% end %>
</div>
