<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascript/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/javascript/script.js"></script>
    <title>Ads Place</title>
  </head>
  <body>
    <%= erb :'partials/_header', :layout => false %>
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <%= erb :'partials/_validation_errors', :layout => false, :locals => {:model => @user} %>
    <div class="main-content">
      <nav class="sidebar">
        <h1>Categories</h1>
        <ul>
          <% @categories.each do |category| %>
            <li><a href="/category/<%= category.id %>"><%= category.category_name %></a></li>
          <% end %>
        </ul>
      </nav>
      <main class="main-view">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
