<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Ads Place</title>
  </head>
  <body>
    <%= erb :'partials/_header' %>
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>
    <%=erb :'partials/_validation_errors', :layout => false, :locals => {:model => @user} %>
    <%= yield %>
  </body>
</html>
